body{
    margin:0;
    padding:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url('../img/cake.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    
    font-weight: bold;
}

@media only screen and (max-width:500px){
    body{
        background-image: url('../img/image4.jpeg');
        background-size:cover;
        background-repeat: repeat;
    }
    .wrapper{
        max-width: 250px;
        height:400px;
        
        
    }
    .input{
        max-width: 50%;
        height:20%;
        
    }
    .message h3{
        
        color:white;
        
    }

    
    
    
}
@media only screen and (min-width:501px){
   
    .wrapper{
        max-width: 350px;
        height:400px;
        
        
    }
    .input{
        max-width: 65%;
        height:20%;
        margin: 0 auto;
        
    }
    .message h3{
        
        color:blue;
        
    }

    
    
    
}

@font-face{
    font-family: 'sapphire';
    src: url('../font/hazel\ grace.ttf')
}

section{
    max-width: 100%;
    max-height: 100vh;

}

section .audio{
    width: 270px;
    height: 40px;
    margin: 0px auto;
    
}

nav{
   
    max-width:400px;
    height: 50px;
    margin: 0 auto;
    background-color: plum;
   
    
}
nav ul{
    width: 80%;
    height: 100%;
    margin: 15px auto;
    text-align: center;
    display: inline-block;
    list-style-type: none;
}
a{
    text-decoration: none;
}
.message{
    width:200px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
}

h3{
    margin: 150px auto;
    font-size: 100px;
    color:blue;
    font-family: sapphire;
    margin: 0 auto;
}


.wrapper{
    width: 400px;
    height:400px;
    background-color: grey;
    margin: 100px auto;
    background-image: url('../img/flower.jpeg');
    background-size:cover;
    background-repeat: no-repeat;
    border: 2px solid purple;
    border-radius: 7px;
    display: none;
}

.container{
    width:100%;
    height:100%;
    background-color: plum;
    opacity:.8;
}



.container form{
    display: inline-block;
    margin:30px auto;
}

.input{
    width: 70%;
    height:20%;
    padding:20px;
    margin: 40px 0 0 40px;
}

.btn{
    width:100px;
    height: 30px;
    padding: 10px;
    background-color: purple;
    margin: 20px auto;
    text-align: center;
    line-height: 2em;
    font-weight:30px;
}

.btn a{
    display: block;
}

.btn:hover, .btn a:hover{
    background-color: green
}