body, #slider, .slide-content{
    margin:0;
    padding: 0;
    font-family: sapphie;    
    overflow: auto;
    
}


@media only screen and (max-width:500px){
    body{
        background-color:white;
        
    }
    .wrap{
        max-width: 100%;
        max-height: 100%;
        background-image:none;
        
    }
    #slider{
        width:100%;
        height:50vh;
        
    }

    
    
    
    
}

@font-face{
    font-family: 'sapphie';
    src: url('font/HelloMorgan.ttf')
}
nav{
   
    max-width:400px;
    height: 50px;
    margin: 0 auto;
    background-color: plum;
   
    
}
nav ul{
    width: 80%;
    height: 100%;
    margin: 15px auto;
    text-align: center;
    display: inline-block;
    list-style-type: none;
}
a{
    text-decoration: none;
}


.audio{
    width: 270px;
    height: 40px;
    margin: 0px auto;
    
}

h3{
    margin: 0 auto;
    left:50%;
    font-family: sapphie;
    color:green;
    font-size: 50px;
    text-align: center;
}

.wrap{
    max-width: 100vw;
    height: 100%;
    position: relative;
    background-image: url('img/cakes.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}
.slide{
    margin: 50px auto;
    background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
    
}
.slide1{
    background-image:url('img/sapphie1.jpg')
}
.slide2{
    background-image:url('img/sapphie2.jpg')
}
.slide3{
    background-image:url('img/sapphie3.jpg')
}
.slide4{
    background-image:url('img/sapphie4.jpg')
}
.slide5{
    background-image:url('img/sapphie5.jpg')
}
.slide6{
    background-image:url('img/sapphie6.jpg')
}
.slide7{
    background-image:url('img/sapphie7.jpg')
}
.slide8{
    background-image:url('img/darot.jpg')
}
.slide-content{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
}
.slide-content span{
    position: relative;
    width:150px;
    height:250px;
    margin: 500px auto;
    text-align: center;
    font-size: 2em;
    color: blue;
}

.arrow{
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    width:0;
    height: 0;
    border-style: solid;
}

#arrow-left{
    border-width: 20px 20px 20px 0;
    border-color: transparent #000 transparent transparent;
    left:0;
    margin-left: 30px;
}
#arrow-right{
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #000;
    right:0;
    margin-right: 30px;
}

